<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agrostore01">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CapaPresentacion.actividades.AgregarTerrenoActivity"></activity>
        <activity android:name=".CapaPresentacion.actividades.MiTerrenoActivity" />
        <activity android:name=".CapaPresentacion.actividades.ReputacionActivity" />
        <activity android:name=".CapaPresentacion.actividades.SeguridadActivity" />
        <activity android:name=".CapaPresentacion.actividades.ClaveActivity" />
        <activity android:name=".CapaPresentacion.actividades.ConfigurarCuentaActivity" />
        <activity android:name=".CapaPresentacion.actividades.ActualizarMisDatosActivity" />
        <activity android:name=".CapaPresentacion.actividades.MisDatosActivity" />
        <activity android:name=".CapaPresentacion.actividades.PerfilUsuarioActivity" />
        <activity
            android:name=".CapaPresentacion.actividades.BarraActivity"
            android:label="@string/title_activity_barra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CapaPresentacion.actividades.RegistroProductorActivity" />
        <activity android:name=".CapaPresentacion.actividades.RegistroClienteActivity" />
        <activity android:name=".CapaPresentacion.actividades.RegistroActivity" />
        <activity android:name=".CapaPresentacion.actividades.LoginActivity" />
        <activity android:name=".CapaPresentacion.actividades.CargaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CapaPresentacion.actividades.Vender1Activity" />
        <activity android:name=".CapaPresentacion.actividades.Vender2Activity" />
        <activity android:name=".CapaPresentacion.actividades.Vender3Activity" />
        <activity android:name=".CapaPresentacion.actividades.Vender4Activity" />
        <activity android:name=".CapaPresentacion.actividades.Vender5Activity" />
        <activity
            android:name=".CapaPresentacion.actividades.EstadoVentaActivity"
            android:label="Estado de Mis Ventas" />
        <activity
            android:name=".CapaPresentacion.actividades.MisComprasActivity"
            android:label="Mis Compras" />
        <activity
            android:name=".CapaPresentacion.actividades.MisVentasActivity"
            android:label="Mis Ventas" />
        <activity
            android:name=".CapaPresentacion.actividades.EstadoCompraActivity"
            android:label="Estado de Mis Compras" />
        <activity
            android:name=".CapaPresentacion.actividades.CompraActivity"
            android:label="Comprar" />
        <activity
            android:name=".CapaPresentacion.actividades.DetallesProductoActivity"
            android:label="Detalles del Producto" />
        <activity
            android:name=".CapaPresentacion.actividades.FiltrosActivity"
            android:label="Filtrado" />
        <activity
            android:name=".CapaPresentacion.actividades.BuscarActivity"
            android:label="Buscar" />
    </application>

</manifest>