<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agrostore01">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.AgregarTerrenoActivity"></activity>
        <activity android:name=".actividades.MiTerrenoActivity" />
        <activity android:name=".actividades.ReputacionActivity" />
        <activity android:name=".actividades.SeguridadActivity" />
        <activity android:name=".actividades.ClaveActivity" />
        <activity android:name=".actividades.ConfigurarCuentaActivity" />
        <activity android:name=".actividades.ActualizarMisDatosActivity" />
        <activity android:name=".actividades.MisDatosActivity" />
        <activity android:name=".actividades.PerfilUsuarioActivity" />
        <activity
            android:name=".actividades.BarraActivity"
            android:label="@string/title_activity_barra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".actividades.RegistroProductorActivity" />
        <activity android:name=".actividades.RegistroClienteActivity" />
        <activity android:name=".actividades.RegistroActivity" />
        <activity android:name=".actividades.LoginActivity" />
        <activity android:name=".actividades.CargaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.Vender1Activity" />
        <activity android:name=".actividades.Vender2Activity" />
        <activity android:name=".actividades.Vender3Activity" />
        <activity android:name=".actividades.Vender4Activity" />
        <activity android:name=".actividades.Vender5Activity" />
        <activity
            android:name=".actividades.EstadoVentaActivity"
            android:label="Estado de Mis Ventas" />
        <activity
            android:name=".actividades.MisComprasActivity"
            android:label="Mis Compras" />
        <activity
            android:name=".actividades.MisVentasActivity"
            android:label="Mis Ventas" />
        <activity
            android:name=".actividades.EstadoCompraActivity"
            android:label="Estado de Mis Compras" />
        <activity
            android:name=".actividades.CompraActivity"
            android:label="Comprar" />
        <activity
            android:name=".actividades.DetallesProductoActivity"
            android:label="Detalles del Producto" />
        <activity
            android:name=".actividades.FiltrosActivity"
            android:label="Filtrado" />
        <activity
            android:name=".actividades.BuscarActivity"
            android:label="Buscar" />
    </application>

</manifest>